$mainColor: black;
$secondaryColor: white;
// $thirdColor:#FFF6D1;

#testimonial_area {
	padding: 10% 0;
}
// .section__padding{
// 	background-image: url("client__project/assets/elina/wave.png");
// }
.box-area {
	padding: 20%;
	position: relative;
	display: block;
	background: #fff;
	color: #000;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin: 90px 0;
	border-radius: 20px;
}
.box-area h5 {
	font-size: 16px;
	font-weight: bolder;
	color: #0a69ed;
	margin-top: 10%;
	margin-bottom: 8px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.box-area .content {
	color: $mainColor;
}
.box-area .img-area {
	width: 150px;
	height: 150px;
	position: absolute;
	top: -70px;
	left: 0;
	bottom: 0;
	margin: 0 auto;
	right: 0;
	z-index: 1;
	border: 5px solid #fff;
	border-radius: 50%;
	box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}
.box-area .img-area img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.wave__picture{
	position: relative;
	margin-bottom: -33%;
	height: 300px;
	width: 100%;
}
#testimonial_area .owl-nav {
	position: absolute;
	top: 50%;
	width: 100%;
}
#testimonial_area .owl-prev, #testimonial_area .owl-next {
	width: 40px;
	height: 40px;
	line-height: 40px;
	color: #0a69ed;
	border-radius: 50%;
	text-align: center;
	background: #fff;
	position: absolute;
}
#testimonial_area .owl-prev {
	left: -60px;
	top: -30px;
}
#testimonial_area .owl-next {
	right: -60px;
	top: -30px;
}
.footer-container {
    margin-left: 5%;
    margin-right: 7%;
    margin-top: 4%;
	font-size: 14pt;
	font-family: Jost, Georgia, serif;
}
.fa-solid{
	height:5%;
	width: 5%;
}
.fa-brands{
	font-size: 27pt;
	margin-right: 2%;
}
@media only screen and (max-width: 991px) {
	.owl-nav {
		display: none;
	}
	.box-area .img-area {
		width: 130px;
		height: 130px;}
}
@media only screen and (max-width: 767px) {
	.box-area {
		text-align: center;
	}
	.owl-nav {
		display: none;
	}
	.box-area .img-area {
		width: 120px;
		height: 120px;
	}
}