/* header */
.header {
  padding-top: 1%;
}
.header__button {
  border-radius: 100px;
  border: none;
  background-color: #8356F9;
  color: #fff;
}

.navbar-brand {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 50px;
}

.header__logo_img-1 {
  height: 40px;
}

.header__logo_img-2 {
  height: 30px;
  padding-left: 10%;
}

.header__nav {
  flex-grow: 0;
}

.header__navbar {
  margin-bottom: 0;
}

.navbar-brand {
  float: initial;
}
.header__btn {
  margin-left: 50px;
}

.navbar-nav {
  align-items: center;
}

.nav-link {
  color: #000;
  margin-left: 30px;
}

/* main block 1 */
.main__block {
  padding-top: 50px;
}
.main__block1-column1 {
  padding-top: 6%;
}
.main__block1_grid {
  display: grid;
  grid-template-columns: 1fr;
}
.main__block1_grid-column1 {
  display: grid;
  grid-template-columns: 60px 1fr 60px 1fr;
  padding-top: 20px;
}
#main__block1-app {
  padding-top: 4%;
}
#main__block1-logo {
  margin-bottom: 20px;
}
#main__block1-description {
  font-size: 18px;
  padding-top: 8%;
  text-align: center;
}
.icon1 {
  width: 60px;
}
.icon2 {
  width: 50px;
}
.main__block1-health , .main__block1-finance {
  font-size: 18px;
  text-decoration: underline 2px #FDDC4E;
  line-height: 50px;
  padding-left: 5px;
}
.children {
  width: 45vw;
}
.main__block1-button {
  text-align: left;
  padding-top: 1%;
}
.join {
  height: 40px;
  width: 180px;
  background: #F3ACC8;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-size: 18px;
}
.join:hover {
  background: #58BBAE;
}
.main__block1-column2 {
  text-align: right;
}

#form9 {
  position: absolute;
  width: 7%;
  top: 35%;
  right: 57%;
}
#form2 {
  position: absolute;
  top: 35%;
  right: 52%;
}
#form8 {
  position: absolute;
  width: 9%;
  top: 35%;
  right: 60%;
}

/* main block 2 */
.section__block2 {
margin-top: 7%;
margin-bottom: 6%;
}
.section__block2 h4 {
  font-size: 150%;
  font-weight: 600;
  padding-bottom: 4%;
}
.section__block2 p {
  font-size: 18px;
}
.section__block2 img {
  max-width: 100%;
  height: auto;
}
.section__block2__text {
  width: 20%;
}
.main__block2-shema {
  background: #F2F2FF;
  text-align: center;
  width: 100%;
  height: 80%;
  border-radius: 20px;
}
.main__block2-shema-img {
  width: 100%;
  height: 80%;
}
/* main block 3 road */
.main__block3 {
  padding-top: 5%;
}
.main__block3-column1 {
  padding-top: 100px;
}
.main__block3-column1_h2 {
  font-weight: bold;
}
.main__block3-column1_italic {
  font-size: 20px;
  font-style: italic;
  padding-left: 15%;
}
.main__block3-column1_bold {
  font-size: 20px;
  padding-top: 30px;
  line-height: 35px;
}
.main__block3-column1_logo {
  padding-left: 100px;
  padding-top: 30px;
}
.column1_download-app , .column1_download-google {
  width: 35%;
  padding-left: 15px;
}
.main__block3-column2_text {
  padding-left: 100px;
}
#road {
  width: 134%;
  padding-top: 40px;
}
#form7 {
  width: 40%;
  position: absolute;
  top: 700px;
  right: 0%;
}
.main__block3-road_text1 , .main__block3-road_text2 , .main__block3-road_text3 , .main__block3-road_text4 , .main__block3-road_text5 {
  font-size: 10px;
}
.main__block3-road_text1{
  position: absolute;
  right: 265px;
  top: 115px;
}
#form1 {
  position: absolute;
  
}
/* carousel */
.opinion {
  text-align: center;
  text-decoration: underline;
}
.box-area {
  padding: 20%;
  position: relative;
  display: block;
  background: #fff;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 90px 0;
  border-radius: 20px;
}

.box-area h5 {
  font-size: 16px;
  font-weight: bolder;
  color: #7273b5;
  margin-top: 10%;
  margin-bottom: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.box-area .content {
  color: black;
}

.box-area .img-area {
  width: 150px;
  height: 150px;
  position: absolute;
  top: -70px;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  right: 0;
  z-index: 1;
  border: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}

.box-area .img-area img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.wave__picture {
  position: relative;
  margin-bottom: -39%;
  height: 300px;
  width: 100%;
}

#testimonial_area .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

#testimonial_area .owl-prev, #testimonial_area .owl-next {
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #0a69ed;
  border-radius: 50%;
  text-align: center;
  background: #fff;
  position: absolute;
}

#testimonial_area .owl-prev {
  left: -60px;
  top: -30px;
}

#testimonial_area .owl-next {
  right: -60px;
  top: -30px;
}

/* footer */
.footer-container {
  margin-left: 9%;
  margin-right: 7%;
  margin-top: 4%;
  font-size: 9pt;
  font-family: Jost, Georgia, serif;
  font-weight: normal;
}
.footer__logoblock {
  padding-bottom: 20px;
}
.footer__secondblock, .footer-thirdblock {
  margin-top: 14%;
}

.fa-solid {
  height: 5%;
  width: 5%;
}
.footer__contacts {
  padding-left: 25px;
}
.fa-brands {
  font-size: 29pt;
  margin-right: 3%;
  margin-left: 10%;
}
.it_girl_logo {
  width: 15%;
}
.develop {
  text-align: right;
}
.develop__link {
  text-decoration: none;
  color: #e26094
}
.develop__link:hover {
  color: #58BBAE;
}


#description_block {
  background: url(../assets/wave_line.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 60%;
  margin: 10% 0;
}

.description_block_img {
  width: 100%;
  border-radius: 20px;
}
.description_block1 {
  padding-left: 30px;
}
.description_block2 {
  padding-right: 30px;
}
.description_block_text {
  line-height: 27px;
}


/* Block donations start*/

.donations {
  padding-left: 10%;
}

.donations_card-body {
  border-radius: 10px;
  background-color: #7273b5;
}

.donation_card_picture {
  position: absolute;
  left: 53%; top: -50%;
  height: 210%;
}

.donations_card_text {
  max-width: 60%;
  padding-left: 3%;
  position: relative;
}

.donations_paymant {
  display: flex;
  padding-bottom: 2%;
  gap: 10px;
}
.card-text {
  color: #fff;
}
.donation__button {
  padding-top: 10px;
}
.button_donat {
  background: #58BBAE;
  border: #58BBAE;
}
.button_donat:hover {
  background: #F3ACC8;
  border: #F3ACC8;
}
.conditions {
  font-weight: 300;
  padding-top: 2px;
}
/* Block donations end*/

@media only screen and (max-width: 991px) {
  .owl-nav {
   display: none;
 }
  .box-area .img-area {
   width: 130px;
   height: 130px;
 }
 .donation_card_picture {
  position: absolute;
  left: 25%;
}
.donations_card_text {
  padding: 5%;
}
.donations_paymant {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
}
.button_donat {
  min-width: 250px;
}

@media screen and (min-device-width: 768px) and (max-device-width: 991px) { 
 .navbar-nav {
   float: none;
 }
 .header__navbar-nav {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2,1fr);
 }
 .header__btn {
   margin-left: 35px;
 }
 body .navbar-collapse.collapse {
   display: none!important;
 }
 body .navbar-collapse.collapse.show {
   display: block!important;
 }
}

@media only screen and (max-width: 767px) {
  .box-area {
   text-align: center;
 }
  .owl-nav {
   display: none;
 }
  .box-area .img-area {
   width: 120px;
   height: 120px;
 }
 #form7 , #form1 , .develop__text {
  display: none;
}
}
#form7 , #form1 , .develop__text , .donation_card_picture , .main__block3-column1_logo , #form2 , #form9 , #form8 , .main__block2-shema {
display: none;
}
#main__block1-app , #main__block1-innovation , .main__block1-logo_img , .children__img , .main__block1-button , .main__block3-column1_h2 , .main__block3-column1_bold , .main__block3-column1_download , .main__block2-column2 , .description_block1 , .description_block2 {
text-align: center;
}
.main__block3-column2_text , .main__block3-column1_italic , .footer__company , .footer__address , .footer {
text-align: center;
padding: 0;
}
#road {
width: 100%;
}
#formGroupExampleInput {
min-width: 130px;
}
}/*# sourceMappingURL=style.css.map */

/*# sourceMappingURL=style.css.map */

@media (max-width: 372px) {
  .navbar>.container-fluid {
    flex-wrap: nowrap;
  }
}

/*# sourceMappingURL=style.css.map */

